[submodule "lib/minitor/src/minitor"]
	path = lib/minitor/src/minitor
	url = https://github.com/Triple-Layer-Development/minitor
[submodule "lib/minitor/src/wolfssl"]
	path = lib/minitor/src/wolfssl
	url = https://github.com/jpbland1/wolfssl
